.header-container {
  background: linear-gradient(to bottom, #ffffff, #f8f9fa);

}

.header-content {
  position: relative;
  padding: 6rem 2rem 14rem;
}

.header-gradient-top,
.header-gradient-bottom {
  position: absolute;
  inset-x: 0;
  z-index: -10;
  transform: translateY(-50%);
  overflow: hidden;
  filter: blur(3xl);
}

.header-gradient-top {
  top: -10rem;
}

.header-gradient-bottom {
  top: calc(100% - 13rem);
}

.header-gradient-top::before,
.header-gradient-bottom::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 36.125rem;
  aspect-ratio: 1155 / 678;
  background: linear-gradient(to top right, #ff80b5, #9089fc);
  opacity: 0.3;
  transform: translateX(-50%) rotate(30deg);
  clip-path: polygon(
    74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%,
    60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%,
    17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%
  );
}

.header-text {
  max-width: 42rem;
  margin: 0 auto;
  text-align: center;
  padding: 8rem 0;
}

.announcement {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  color: #4b5563;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 9999px;
}

.announcement-link {
  font-weight: 600;
  color: #4f46e5;
}

.header-title {
  font-size: 3rem;
  font-weight: 600;
  color: #111827;
  margin-top: 2rem;
}

.header-description {
  margin-top: 2rem;
  font-size: 1.125rem;
  color: #6b7280;
}

.header-buttons {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.btn-primary {
  background-color: #4f46e5;
  padding: 0.75rem 1.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: white;
  border-radius: 0.375rem;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: #4338ca;
}

.btn-secondary {
  font-size: 0.875rem;
  font-weight: 600;
  color: #111827;
  text-decoration: none;
}
